<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Servicar MT</title>
    <!---Custom CSS File--->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <section class="container">
      <header>Servicar MT</header>
      <p>Formulario de reserva de vehículo</p>
      <form action="/api/add_appointment_from_client" method="POST" class="form">
        <div class="input-box">
          <label>Datos del Cliente</label>
          <div class="column">
            <input type="text" name="first_name" placeholder="Nombre" required />
            <input type="text" name="last_name" placeholder="Apellido" required />
          </div>
          <div class="column">
            <input type="text" name="document_id" placeholder="CIN°" required />
            <input type="text" name="address" placeholder="Dirección" required />
          </div>
          <div class="column">
            <input type="email" name="email" placeholder="Email" required />
            <input type="tel" name="phone" placeholder="Teléfono" required />
          </div>
        </div>
        <div class="input-box">
          <label>Datos del vehículo</label>
          <div class="column">
            <input type="text" name="mark" placeholder="Marca" required />
            <input type="text" name="model" placeholder="Modelo" required />
          </div>
          <div class="column">
            <input type="text" name="plate" placeholder="Chapa" required />
            <input type="text" name="year" placeholder="Año" required />
          </div>
        </div>
        <div class="input-box address">
          <label>Sucursal y Tipo de Mantenimiento</label>
          <div class="column">
            <div class="select-box">
              <select name="location_id" required>
                <option value="">Sucursal</option>
                <option value="1">4 Mojones</option>
                <option value="2">KM 5</option>
                <option value="3">Mariano R Alonso</option>
              </select>
            </div>
            <div class="select-box">
              <select name="mainteinance_id" required>
                <option value="">Mantenimiento</option>
                <option value="1">Cambio de aceite</option>
                <option value="2">Cambio de filtros</option>
                <option value="3">Presión de llantas</option>
                <option value="4">Alineación y balanceo</option>
                <option value="5">Revisión de estado de batería</option>
                <option value="6">Revisión de fluído de freno</option>
                <option value="7">Mecánica ligera</option>
                <option value="8">Revisión de amortiguadores</option>
                <option value="9">Cambio de aceite de caja</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit">Aceptar</button>
      </form>
    </section>
  </body>
</html>
